
@media(max-width: 1100px){

  .ad{
    margin: 15% 10%;
  }

  .btn-cta{
    width: 100%;
  }


}

@media(max-width: 600px){

  .ad{
    display: flex;
    flex-flow: column wrap;
  }

  header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

  }

  h2 {
    font-size: 1.125rem;
  }

  header h3{
    font-size: .875rem;
    margin: 20px 0 20px 0;
  }

  .header-p {
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
  }


  main {
    border-bottom-left-radius: 0;
  }

  h4{
    font-size: 1rem;
  }

  .price-month{
    margin: 15px 0 10px 0;
    display: flex;
    align-items: center;
  }

  .main-p{
    font-size: .875rem;
  }

  .btn-cta{
    font-size: 1rem;
    width: 100%;

  }
  footer{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .list-pluses{
    font-size: .875rem;
  }

  .btn-cta{
    width: 100%;
  }
}



@media(max-width: 375px){



  header{

    padding: 10%;

  }


  .btn-cta{
    font-size: 1rem;
  }


  .list-pluses{
    font-size: .875rem;
  }

}
